* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #509dff;
}

.password-generator-container {
    width: 37.5rem;
    height: 27rem;
    background-color: #0a0e30;
    border-radius: 0.5rem;
    margin: 10rem auto;
}

h1 {
    color: white;
    text-align: center;
    padding: 2rem 0rem;
}

.password-input {
    display: block;
    height: 3.75rem;
    width: 90%;
    margin: 1rem auto;
    background-color: #1c2040;
    color: white;
    border: none;
    text-align: center;
    font-size: 2.5rem;
    outline: none;
}

.generate-password-btn {
    width: 14rem;
    height: 3.75rem;
    margin: 2rem auto;
    display: block;
    font-size: 1.3125rem;
    color: white;
    background-color: #5c68e4;   
    border-radius: 0.5rem;
    border: none;
    transition: all .2s ease-in;
    cursor: pointer;
}

.generate-password-btn:hover {
    opacity: .8;
}

.no-spaces-container {
    color: white;
    margin-top: -4.5rem;
    margin-left: 2rem;
    display: flex;
    font-size: 1rem;
}

.copy-btn {
    width: 10rem;
    height: 2rem;
    background-color: #5c68e4;
    color: white;  
    border: none;
    border-radius: 0.5rem;
    margin: 3rem 13.8rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all .2s ease-in;
    cursor: pointer;
}

.copy-btn:hover {
    opacity: .8;
}

.clear-btn {
    width: 10rem;
    height: 2rem;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 0.5rem;
    margin: -2rem 14rem;
    font-size: 1rem;
    font-weight: 500;
    transition: all .2s ease-in;
    cursor: pointer;
}

.clear-btn:hover {
    opacity: .8;
}